/* 
 * Default WP-CRM Front-End Styles 
 * 
 */
 
 ul.wp_crm_contact_form,
 ul.wp_crm_contact_form ul,
 ul.wp_crm_contact_form li  {
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
 }

 ul.wp_crm_contact_form input.regular-text.wp_crm_input_error {
    border: 1px solid red;
 }